 <style>
body{
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

 </style>
<div id="newForm">
  <h1>Исправить неточность</h1>
  <form id="inputForm" action="/new" method="POST">  
  <textarea class="newInput" name="reply" rows="3" cols="20" placeholder="Опишите в чем неточность"></textarea>
  <br>
  <input type="submit" id="btn-sub">
</form>
</div>




