<div id="topBar">
    <p><span class="icon_container"><img class="icons" src="./img/skull.png"></span> 
    <input type="checkbox" id="chbxFirst" onclick="firstGrpDispaly()" checked>Несчастные случаи</p>
    <p><span class="icon_container"><img class="icons" src="./img/air_crash.png"></span>      
    <input type="checkbox" id="chbxSec" onclick="secndGrpDispaly()" checked>Авиакатастрофы</p>
    
  </div>
  <div id="map"></div> 

<script src="./js/application.js"></script>
