
<dev id="welcome-screen" ><h1 id="header">Danger Mountains</h1>
<h3 id="header2">Несчастные случаи в горах</h3>
<a id="welcome-btn" href="/map">Смотреть</a></dev>
<img id="mount-pic" src="./img/screen1.jpg">
